@page
@using PracticeOnWeb.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model.ProblemLists)
{
    <small>@item.PublishTime.ToString("yyyy年mm月dd日   hh时mm分")</small>
    <a href="/User/@item.Author.Id">@item.Author.Name</a>
    <br />
    <span>@item.Status</span>
    <a href="/Problem/@item.Id"> <h2>@item.Title</h2> </a>
    <p>@item.Abstract</p>

}
